* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: rgba(15, 15, 1);
}

.heading h1 {
  color: white;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1px;
  padding-top: 2rem;
  text-align: center;
}
.searchBox {
  text-align: center;
  margin: 3rem;
}

.search {
  width: 300px;
  height: 50px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 20px 0 0 20px;
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
}

.searchBtn {
  height: 50px;
  width: 100px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 0 20px 20px 0;
  color: white;
  background-color: rgba(150, 255, 51, 0.7);
}


.randomBtn {
  margin-left: 20px;
  height: 50px;
  width: 100px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: darkgreen;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 400px;
  margin: 0.5rem;
  background: rgba(204, 255, 51, 0.5);
  border-radius: 8px;
  overflow:auto;
  position: relative;
  box-sizing: border-box;
  background-color: darkgreen;
  text-align: center;
  box-shadow: 0 7px 12px rgba(204, 255, 51, 0.5);

}

.card img {
  width: 300px;
  height: 350px;
}

.heading {
  text-align: center;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: rgba(204, 255, 51, 0.5);
  transition: 0.2s all;
}

.card:hover:before {
  height: 100%;
}

.card:hover {
  background: rgba(204, 255, 51, 0.5);
}

.card .recipe {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 0.5rem 1rem;
  display: none;
  transition: 0.2s all;
}
.card:hover .recipe {
  display:block;
}
.card h1 {
  font-size: 28px;
  color: white;
}

.recipe img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.recipe p {
  font-size: 18px;
  font-weight: 600;
  color:rgba(15, 15, 1);
  

}
.recipe h2, h4{
  color: whitesmoke;

}


span {
  color: whitesmoke;
  margin: 4px;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: small;
}

@media (max-width: 998px) {
  
  .searchBox {
    margin: 3rem;
  }
  .search {
    width: 250px;
    height: 50px;
    font-size: 1 rem;
  }
  .searchBtn {
    height: 50px;
    width: 100px;
    font-size: 1 rem;
  }
  .randomBtn {
    height: 50px;
    width: 100px;
    font-size: 1 rem;
  }
}

@media (max-width: 500px) {
  

  .searchBox {
    margin: 2.5rem;
  }
  .search {
    width: 145px;
    height: 35px;
    font-size: 0.8rem;
  }
  .searchBtn {
    height: 35px;
    width: 60px;
    font-size: 0.8rem;
  }
  .randomBtn {
    height: 35px;
    width: 70px;
    font-size: 0.8rem;
    margin-left: 2px;

  }
}
